/*
colores

azul:			#3272F8
azul Fuerte:		#182955
aqua:			#00FFD4
rojo:			#FE626D
amarillo:		#FCD10B
gris:			#808080

*/
@font-face {
  font-family: 'Kermel';
  src: url('../fonts/Kermel-medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Kermel-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Kermel-medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Kermel-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Kermel-medium.svg#cbc58f1e89538e779ba108bd34674952') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
    font-family: 'weissenhof';
    src: url('../fonts/weissenhofgrotesk-bold-webfont.eot');
    src: url('../fonts/weissenhofgrotesk-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/weissenhofgrotesk-bold-webfont.woff2') format('woff2'),
         url('../fonts/weissenhofgrotesk-bold-webfont.woff') format('woff'),
         url('../fonts/weissenhofgrotesk-bold-webfont.svg#weissenhofgroteskuploadedfile') format('svg');
    font-weight: bold;
    font-style: normal;

}
/*
@font-face {
    font-family: 'weissenhof';
    src: url('../fonts/weissenhofgrotesk-bolditalic-webfont.eot');
    src: url('../fonts/weissenhofgrotesk-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/weissenhofgrotesk-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/weissenhofgrotesk-bolditalic-webfont.woff') format('woff'),
         url('../fonts/weissenhofgrotesk-bolditalic-webfont.svg#weissenhofgroteskuploadedfile') format('svg');
    font-weight: bold;
    font-style: italic;

}
*/
@font-face {
    font-family: 'weissenhof';
    src: url('../fonts/weissenhofgrotesk-regular-webfont.eot');
    src: url('../fonts/weissenhofgrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/weissenhofgrotesk-regular-webfont.woff2') format('woff2'),
         url('../fonts/weissenhofgrotesk-regular-webfont.woff') format('woff'),
         url('../fonts/weissenhofgrotesk-regular-webfont.svg#weissenhofgroteskuploadedfile') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*
@font-face {
    font-family: 'weissenhof';
    src: url('../fonts/weissenhofgrotesk-regularitalic-webfont.eot');
    src: url('../fonts/weissenhofgrotesk-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/weissenhofgrotesk-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/weissenhofgrotesk-regularitalic-webfont.woff') format('woff'),
         url('../fonts/weissenhofgrotesk-regularitalic-webfont.svg#weissenhofgroteskuploadedfile') format('svg');
    font-weight: normal;
    font-style: italic;

}
*/
body{
	font-size: 12px;
	font-family: 'weissenhof', sans-serif;
	letter-spacing: 0.05em;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}
.mar-uno{
	margin-top: 2em;
	margin-bottom: 2em;
}
.mar-dos{
	margin-top: 4em;
	margin-bottom: 4em;
}
.mar-tres{
	margin-top: 6em;
	margin-bottom: 6em;
}
section.fondo-rojo{
	background-color: #FE626D;
}
a{
	color: #3272F8;
}
a:hover{
	color: #FE626D;
	text-decoration: none;
}
a.link-under{
	color: #3272F8;
	padding-bottom: 3px;
	margin-right: 2em;
	font-family: 'weissenhof', sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	
	display: inline-block;
	border-bottom: 1px solid #00FFD4;
}
a.link-under:hover{
	color: #fff;
	border-bottom-color: #3272F8; 
}
header a.link-under{
	color: #fff;
}
header a.link-under:hover{
	border-bottom-color: #fff; 
}


div.link-flecha-cont{
	display: inline-block;
	height: 30px;
}
.link-flecha{
	background-color: transparent!important;
	color: #3272F8;	
	font-size: 1.2em;
	line-height: 30px;
}
.link-flecha i{
	font-size: 2em;
	margin-left: .3em;
	line-height: 30px;
	vertical-align: middle;
}
.link-flecha:hover{
	text-decoration: none;
}
.link-flecha:hover i{
	color: #00FFD4;
}
header .link-flecha{
	color: #00FFD4;
}
header .link-flecha i{
	color: #FFF;
}
header .link-flecha:hover i{
	color: #00FFD4;
}
a.link-flecha-marco{
	height: 50px;
	padding-left: 1.5em;
	padding-right: 1.5em;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	line-height: 44px;
	border: 3px solid #3272F8;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
a.link-flecha-marco i{
	font-size: 2em;
	margin-left: .3em;
	margin-right: .3em;
	line-height: 30px;
	vertical-align: middle;
}
a.link-flecha-marco.link-flecha-marco-bco{
	color: #fff;
	border-color: #fff;
}
a.link-flecha-marco.link-flecha-marco-bco i{
	color: #00FFD4;
}
a.link-flecha-marco.link-flecha-marco-azuldos{
	color: #182955;
	border-color: #182955;
}
a.link-flecha-marco.link-flecha-marco-azuldos i{
	color: #182955;
}
a.link-flecha-marco.link-flecha-marco-rojo{
	color: #FE626D;
	border-color: #FE626D;
}
a.link-flecha-marco.link-flecha-marco-rojo i{
	color: #FE626D;
}

h2{
	font-size: 4em;
	line-height: .9em;
	font-weight: bold;
}
h4{
	font-size: 2em;
}
h5{
	font-size: 1.6em;
	line-height: 1em;
	font-weight: normal;
}

.tipo-rojo{
	color: #FE626D!important;
}
.tipo-azul{
	color: #3272F8!important;
}
.tipo-azul b{
	color: #FE626D;
}
.tipo-azuldos{
	color: #182955!important;
}
.tipo-azuldos b{
	color: #FE626D;
}
.tipo-bco{
	color: #fff!important;
}
.tipo-bco b{
	color: #182955;
}
.tipo-rojo span,
.tipo-azul span,
.tipo-azuldos span,
.tipo-bco span{
	font-size: .8em;
}
/*
*/
header{
	background-color: #3272F8;
	color: #fff;
	padding-bottom: 3em;
	position: relative;
}
.cont-logo a{
	display: inline-block;
}
.b-home header{
	/*min-height: 800px;*/
}
.img-pos-1{
	position: absolute;
	bottom: 0;
}
#header-call-to{
	padding-top: 2em;
}
.navbar-nav {
	margin-top: 5em;
}
.navbar-nav a{
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 3px;
	border-bottom: 1px solid #3272F8;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background-color: transparent;
    border-color: transparent;
}
.dropdown-menu {
    /*position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;*/
    min-width: 300px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: none;
    background-color: #3272F8;
    border: none;
    border-radius: 0;
    -webkit-box-shadow:none;
    box-shadow: none;
}
.dropdown-menu>li{
	margin-bottom: 0.8em;
}
.dropdown-menu>li>a {
    display: inline-block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #fff;
    border-bottom: none;
    white-space: pre-wrap;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: transparent;
    background-image: none;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a.active {
    color: #00FFD4;
    text-decoration: none;
    background-color: transparent;
}
/*
Footer
*/
footer .navbar-nav a{
	color: #808080;
	border-bottom-color: #fff;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav>li.active>a{
	border-bottom: 1px solid #00FFD4;
	background-color: transparent;
}
.active>a{
	cursor: default;
}
footer .nav>li>a:hover,
footer .nav>li>a:focus,
footer .nav>li.active>a{
	border-bottom: 1px solid #3272F8;
	background-color: transparent;
}
.navbar-collapse{
	padding-right: 0;
	padding-left: 0;
}
.navbar-brand, .navbar-nav>li>a{
	text-shadow: none;
}
.nav>li>a{
	padding:0;
	margin-right: 1em;
}
.navbar-right>li>a{
	background-color: #00FFD4;
	color: #3272F8;
	width: 30px;
	height: 30px;
	margin-right: 0;
	margin-left: 1em;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
footer .navbar-right>li>a{
	background-color: #3272F8;
	color: #fff;
}
.navbar-right>li>a:hover,
.navbar-right>li>a:focus{
	color: #fff;
	background-color: #00FFD4;
	border-bottom: none;
}
footer .navbar-right>li>a:hover,
footer .navbar-right>li>a:focus{
	color: #fff;
	background-color: #00FFD4;
	border-bottom: none;
}
.copy-home-cont{
	margin-top: 3em;
}
.copy-home{
	color: #00FFD4;
	font-size: 8em;
	font-weight: bold;
	line-height: .9em;
}

.contenidos{
	padding-top: 5em;
	padding-bottom: 5em;
}
.mal-posicionado h5{
	text-align: center;
}

.cont-tit-soluciones{
	margin-top: -3em;
}
.tit-circ{
	/*width: 270px;
	height: 270px;*/
	/*padding-right: 1.3em;
	padding-left: 1.3em;*/
	text-align: center;
	text-transform: uppercase;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.vertical-center {

  display: flex;
  align-items: center;
  align-content: center;
}
.tit-circ h3{
	width: 100%;
	margin: 0;
	padding-right: 1.3em;
	padding-left: 1.3em;
	font-family: 'Kermel', sans-serif;
	font-size: 3em;
	line-height: 1em;
	display: block;

}
.tit-circ.tit-circ-rojo{
	color: #fff;
	background-color: #FE626D;
}
.tit-circ.tit-circ-azul{
	color: #FE626D;
	background-color: #182955;
}
.tit-circ.tit-circ-ama{
	color: #182955;
	background-color: #FCD10B;
}
.cont-tit-soluciones .tit-circ{
	width: 200px;
}
#soluciones .tit-circ{
	/*height: 210px;
	width: 210px;*/
}
#soluciones .tit-circ h3{
	font-size: 2.5em;
}
.soluciones-circ .tit-circ{
	background-color: #FCD10B;
	width: 100%;
	height: auto;
	padding: 0;
	margin-bottom: 20px;
}
.soluciones-circ .tit-circ h3{

}
.soluciones-circ .tit-circ h3 a{
	color: #182955;
}
	.soluciones-circ .tit-circ h3 a:hover{
		color: #FE626D;
	}
.tablas{
	list-style: none;
	text-align: center;
	padding-left: 0;
	margin-top: -50px;
	border: 3px solid #FE626D;
	-webkit-border-radius: 40px;
	border-radius: 40px;
}
.tablas li{
	color: #3272F8;
	padding: .5em 1em;
	font-size: 1.5em;
	border-bottom: 3px solid #FE626D;
}
.tablas li:first-child{
	padding-top: 3em;
}
.tablas li:last-child{
	border-bottom: none;
}
.tablas li::before{
	content: "\f00c";
	color: #FCD10B;
	font: normal normal normal 14px/1 FontAwesome;
	margin-right: .5em;
}
.img-sitios-muertos{
	margin-top: 6em;
}
.invertir-circ{
	margin-top: 6em;
}

#otros-servicios.subir{
	margin-top: -350px;
	padding-top: 350px;
	padding-bottom: 170px;
}
#otros-servicios-dos.subir{
	margin-top: -480px;
	padding-top: 350px;
}

/*
Internos
*/
.textos-internos p{
	color: #333;
	font-size: 1.4em;
	line-height: 1.8em;
	margin-bottom: 1em;
}
.textos-internos p b,
.textos-internos p strong,
.textos-internos p a{
	color: #FE626D;
	font-weight: normal;
}
.textos-internos p a{
	text-decoration: none;
	border-bottom: 1px solid #3272F8;
}
.textos-internos p a:hover{
	color: #3272F8;
}
.textos-internos h1,
.textos-internos h2,
.textos-internos h3,
.textos-internos h4,
.textos-internos h5,
.textos-internos h6{
	color: #3272F8;
	font-weight: bolder;
	margin-bottom: 1.2em;
}
.textos-internos h1{
	font-size: 3.5em;
}
.textos-internos h2{
	font-size: 3em;
}
.textos-internos h3{
	font-size: 2.5em;
}
.textos-internos h4{
	font-size: 2em;
}
.textos-internos h5{
	font-size: 1.8em;
	line-height: 1.5em;
}
.textos-internos h6{
	font-size: 1.5em;
	line-height: 1.5em;
}

blockquote {
    padding: 20px;
    margin: 0 0 20px;
    font-size: .9em;
    border-left: 5px solid #FCD10B;
}
blockquote p{
	color: #808080!important;
	line-height: 2.2em!important;
}
img.ilus-internas{
	max-width: 80%;
	margin: 0 auto;
	display: block;
}
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices{
	height: 20px!important;
}
/*
BLOG
*/


a.link-img{
	background-size: cover;
	height: 100px;
	display: block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

}

#blog-posts-cont h3{
	text-align: center;
}

.post-pags{
	margin-top: 4em;
}
.cont-post-lista h3{
	min-height: 2.5em;
}

.fecha-post{
	text-align: center;
}
.post-ver-post{
	text-align: center;
}
.textos-internos .textos-blog p{
	color: #333;
}
.textos-internos .textos-blog p b,
.textos-internos .textos-blog p strong{
	color: #FE626D;
}
.textos-internos .textos-blog img{
	max-width: 100%;
	height: auto!important;
	margin-top: 1em;
	margin-bottom: 1em;
}
.textos-pdf{
	margin-top: 3em;
	margin-bottom: 2em;
	text-align: center;
}
.x-tras-blog{
	margin-top: 3em;
}
.te-gusto{
	margin-top: 2em;
	margin-bottom: 2em;
}

/*
Contacto
*/
form#forma{
}
form#forma input,
form#forma textarea{
	background-color: #efefef;
	color: #182955;
	padding: 1em;
	border: none!important;
	outline: 0;
	box-shadow: none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 1em;
}
form#forma input[type=button], 
form#forma input[type=reset], 
form#forma input[type=submit]{
	color: #3272F8;
	padding: 0;
	background-color: transparent;
	font-size: 1.2em;
}
form#forma input[type=button]:hover, 
form#forma input[type=reset]:hover, 
form#forma input[type=submit]:hover{
	border-bottom: none!important;
}
form#forma textarea{
	resize: vertical;
}
form#forma label{
	color: #FE626D;
	font-size: 1.2em;
}
p.mensaje-error{
	color: #182955;
}
dt label{
	display: none;
}
form#forma #human{
	width: 100%;
}
input#submit{
	border-bottom: 3px solid #000!important;
}
input#submit:hover{
	border-bottom: 3px solid #1e0fbe!important;
}
form#forma input[type=checkbox], 
form#forma input[type=radio]{
	margin-right: 1em;
}


.zoom-servicios h3{
	margin-bottom: 1em;
}

footer{
	padding-top: 4em;
	padding-bottom: 2em;
}
footer h4{
	color: #808080;
	font-size: 1.5em;
	font-weight: bold;
}
footer h5{
	color: #3272F8;
}
footer h6,
footer h6 a{
	color: #808080;
	font-size: 1em;
}
footer h6 a:hover{
	color: #FE626D;
	text-decoration: none;
}
footer .logo-footer{
	margin-bottom: 2em;
}
footer .legales p{
	color: #808080;
	font-size: 0.9em;
	text-align: center;
}
footer .legales a{
	color: #3272F8;
}
footer .navbar-nav{
	margin-top: 1em;
}
footer .mapa-sitio.navbar-nav>li{
	float: none;
	margin-bottom: 0.4em;
}
footer .mapa-sitio.navbar-nav>li>a{
	display: inline-block;
	text-transform: none;
}



@media (max-width: 767px) {
	body{
		font-size: 8px;
	}
	
	.copy-home-cont{
		text-align: center;
	}
	.copy-home {
	    font-size: 5em;
	    line-height: 1em;
	}
	.contenidos{
		padding-top: 3em;
		padding-bottom: 3em;
	}
	a.link-flecha-marco{
		font-size: 1.5em;
	}
	h2{
		font-size: 3em;
		line-height: 1.2em;
	}
	h3{
		font-size: 2.5em;
	}
	h4{
		font-size: 2em;
	}
	h5{
		font-size: 1.6em;
	}
	.navbar-nav{
		margin: 1em 0 0;
	}
	header .nav{
		padding: 10px;
	}
	header .nav>li{
		
		font-size: 2em;
	}
	header .nav>li>a{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	header .nav.redes{
		text-align: center;
	}
	header .nav.redes>li{
		display: inline-block;
		
	}
	.navbar-header{
		text-align: center;
		margin-top: 3em;
	}
	.navbar-toggle{
		background-color: #00FFD4;
		float: none;
		margin-right: 0;
		
	}
	.navbar-toggle .icon-bar{
		background-color: #3272F8;
	}

	.mal-posicionado > div{
		margin-bottom: 8em;
	}
	.mal-posicionado > div:last-child{
		margin-bottom: 0;
	}
	.mal-posicionado h5{
		font-size: 2.5em;
	}
	.tablas{
		margin-bottom: 6em;
	}
	.tablas li:first-child {
	    padding-top: 4em;
	}
	.tablas li {
	    padding: 1em;
	    font-size: 2em;
	}
	.tit-circ{
		margin-bottom: 3em;
	}
	.tit-circ h3{
		font-size: 4em;
	}
	footer .nav>li{
		display: inline-block;
	}
	footer .navbar-nav{
		margin: 0 0 3em;
	}
	.nav-footer{
		text-align: center;
		margin-top: 3em;
	}
	form#forma label{
		font-size: 2em;
	}
	footer .legales p{
		font-size: 1.2em;
	}
	p.mensaje-error{
		font-size: 1.2em;
	}

}

@media (min-width: 768px) {
	body{
		font-size: 10px;
	}
	.navbar-right {
		margin-right: 0;
	}
}
@media (max-width: 991px) {
	
	.cont-logo{
		text-align: center;
		margin-top: 3em;
	}
	.tit-circ {
    	/*width: 200px;
    	height: 200px;*/
	}
}
@media (min-width: 992px) {
	body{
		font-size: 12px;
	}
	.copy-home {
	    font-size: 6em;
	    line-height: 1em;
	}
	.img-pos-1{
		width: 300px;
	}
	.zoom-servicios dd{
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
	}

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {
	.img-pos-1{
		width: 400px;
	}
	.copy-home{
		font-size: 8em;
	}
	img.ilus-internas{
		max-width: 50%;
	}
}